// Here you can add other styles
.align-right {
    float: right;
}

.logo {
    font-size: 2em;
}

.red {
    color: red;
}

.green {
    color: lightseagreen;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.pink {
    color: deeppink;
}

.white {
    color: white;
}